[Desktop Entry]
Version=1.0
Type=Link
Name=Titanic - Machine Learning from Disaster | Kaggle
Comment=
Icon=user-bookmarks
URL=https://www.kaggle.com/c/titanic/data
